/* Styling text inputs */
input[type="text"] {
    background-color: rgb(255, 7, 160); 
}
input[disabled] {
    background-color: rgb(109, 45, 77);
}
input[type="text"]:hover {
    background-color: rgb(47, 213, 255);
}
input[type="text"]:focus {
    background-color: rgb(255, 47, 47);
}

input[type="radio"]:checked + label {
    font-style: italic;
}

input[type="checkbox"]:checked + label {
    background-color: yellow;
    font-weight: bolder;
}
