/* index.css minimalista para acceder a el con funciones js */
body{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: justify;

}

h1{
    color: rgb(0, 0, 0);
    text-align: justify;
}